<!-- FOR NGIF -->
  
<h1>ngIf</h1>
<div *ngIf = "courses.length>0 else nothing">
  <h2>List of courses</h2>
</div>

<div *ngIf = "courses.length===0">
  <h2>No courses yet</h2>
</div>

<ng-template #nothing>
  <h1>Nothing yet</h1>
</ng-template>

<!-- FOR HIDDEN PROPERTY -->
<h1>Hidden prperty</h1>
<div [hidden] = "courses.length > 0">
  <h2>This is one div</h2>
</div>

<div [hidden] = "courses.length === 0">
  <h2>This is second div</h2>
</div>

<!-- If condition satisfies then hide that element -->

<!-- FOR ngSwitchCase -->
<h1>ngSwitchCase</h1>
<div class="container">
  <h3 class="menu" [class.active] = "viewMode==='map'" (click)="changeViewMode('map')">Map view</h3>
  <h3 class="menu" [class.active] = "viewMode==='list'" (click)="changeViewMode('list')">List view</h3>
</div>

<div [ngSwitch] = "viewMode">
  <h3 *ngSwitchCase="'map'">Map content</h3>
  <h3 *ngSwitchCase="'list'">List content</h3>
  <h3 *ngSwitchDefault>No specific content</h3>

</div>

<!-- FOR NGFOR AND DETECTING CHANGE -->
<h1>ngFor</h1>
<button (click)="addFlower()">Add</button>

<div *ngFor="let flower of flowers index as i" class="displayFlowers">
  <h2>{{ i }} {{ flower.itsName }} </h2>
  <button (click)="delFlower(flower['itsName'])" class="removebtn">Remove</button>
</div>