.container{
    display: flex;
    gap: 1rem;

    .menu{
        border: thin solid #cccccc;
        margin: 0;
        background-color: #cccccc;
        padding: 1rem;
        border-radius: 4px;
        cursor: pointer;
    }
}

h1{
    color: teal;
}

.displayFlowers{
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

